<section class="book-details">
    <div class="section-img">
        <img src="https://picsum.photos/300/150" alt="Avatar" style="width:100%">
    </div>

    <div class="section-description">
        
        <h3>{{book.title}}</h3>
        <h3>{{book.author}}</h3>

        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet, deleniti quasi eaque est beatae minima cupiditate, nam dolores consequatur dicta inventore non a cum maiores ut atque quia soluta placeat.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quasi a qui aliquid cum porro consequatur sint fugiat. Recusandae voluptatum praesentium iusto, rerum dolore aliquid odio quaerat, doloremque, voluptatibus velit veniam?
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime velit vero, impedit voluptatum debitis aliquam asperiores nulla dolorum, laboriosam at atque optio expedita unde, ea placeat recusandae ducimus minima veritatis!
        </p>
    </div>
</section>
