.section-description h3{
    padding:0;
    margin:0;
    font-size: x-large;
    font-family: sans-serif;
    font-weight: 600;
}

.section-description{
    padding:0 30px;
}

.book-details{
    display: flex;
    padding: 80px 4px;
    padding: 80px 4px;
    margin: 0 60px;
}

.book-details p{
    font-size: 18px;
    font-family: sans-serif;
}

.section-img{
    width: 70%;
}